/* body {
    background-color: black;
} */

.container {
    display: flex;
    background-color: blue;
}

.profile-card {
    width: 30%;
    background-color: blue;
}

.content {
    width: 70%;
    background-color: red;
}